/* Colour Scheme: https://colorhunt.co/palette/27374d526d829db2bfdde6ed */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #27374D !important;
}

#top-section {
     margin-top: 20px;
}

#main-heading {
    display: inline-block;
    margin-left: 20px;
    color: #DDE6ED;
}

#input-div {
    display: inline-block;
    width: 50%;
    margin-left: 25px;
    margin-bottom: 20px;
}

#input-div input {
    display: inline-block;
    width: 40%;
}

#input-div button {
    margin-left: 10px;
}

#location-form {
    display: flex;
    align-items: center;
}

datalist {
    border: 2px solid black;
    border-radius: 0 0 10px 10px;
}

datalist option {
    background-color: red;
}

#main-forecast-div {
    display: inline-block;
    width: 55%;
    height: 400px;
    text-align: center;
    vertical-align: top;
    background-color: #526D82;
    border-radius: 15px;
    margin-left: 20px;
}

#main-forecast-div #forecast-location {
    margin-top: 60px;
}

.main-forecast {
    margin-bottom: 20px;
}

#map-div {
    display: inline-block;
    width: 40%;
    height: 400px;
    margin-left: 35px;
    border-radius: 15px;
}

#bottom-section {
    margin-top: 20px;
}

#bottom-section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#hourly-forecast-div {
    display: inline-block;
    width: 48%;
    height: 350px;
    text-align: center;
    background-color: #526D82;
    margin-left: 20px;
    border-radius: 15px;
}

#hourly-div div , #weekly-div div {
    display: inline-block;
    background-color: #9DB2BF;
    border: 2px solid black;
    border-radius: 15px;
    padding: 8px 8px 0 8px;
    margin-left: 5px;
    margin-top: 20px;
}

#hourly-div img, #weekly-div img {
    margin-bottom: 10px;
}

/*#hourly-table, #weekly-table {
    margin-top: 40px;
}

#hourly-table td, #weekly-table td {
    background-color: #7FC7D9;
}

#hourly-heading td, #weekly-heading td {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-left-radius: 15px;
}

#hourly-forecast td, #weekly-forecast td {
    border-top: 2px solid transparent;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid transparent;
}

#hourly-temp td, #weekly-temp td {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}*/

#hourly-forecast-div, #weekly-forecast-div {
    padding: 20px;
}

#weekly-forecast-div {
    display: inline-block;
    width: 48%;
    height: 350px;
    margin-left: 20px;
    text-align: center;
    background-color: #526D82;
    border-radius: 15px;
}

