/* Colour Scheme: https://colorhunt.co/palette/27374d526d829db2bfdde6ed */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 960px) {

}

@media screen and (min-width: 640px) {
    
}

body {
    background-color: #27374D !important;
}

#top-section {
     margin-top: 20px;
     margin-bottom: 30px;
}

#main-heading {
    display: inline-block;
    margin-left: 25px;
    margin-right: 140px;
    color: #DDE6ED;
}

h2 {
    color: black !important;
}

#input-div {
    display: inline-block;
    width: 50%;
    margin-left: 25px;
    margin-bottom: 20px;
}

#input-div input {
    display: inline-block;
    width: 40%;
}

#input-div button {
    margin-left: 10px;
}

#location-form {
    display: flex;
    align-items: center;
}

datalist {
    border: 2px solid black;
    border-radius: 0 0 10px 10px;
}

datalist option {
    background-color: red;
}

#main-forecast-div {
    display: inline-block;
    width: 55%;
    height: 400px;
    text-align: center;
    vertical-align: top;
    background-color: #526D82;
    border-radius: 15px;
    margin-left: 20px;
}

#main-forecast-div #forecast-location {
    margin-top: 60px;
}

.main-forecast {
    margin-bottom: 20px;
}

#map-div {
    display: inline-block;
    width: 41%;
    height: 400px;
    margin-left: 20px;
    border-radius: 15px;
}

#bottom-section {
    margin-top: 20px;
}

#bottom-section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#hourly-forecast-div {
    display: inline-block;
    width: 48%;
    height: 350px;
    text-align: center;
    background-color: #526D82;
    margin-left: 20px;
    border-radius: 15px;
}

#hourly-div, #weekly-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hourly-div div {
    width: 15%;
}

#hourly-div div , #weekly-div div {
    background-color: #9DB2BF;
    border: 2px solid black;
    border-radius: 15px;
    padding: 8px 8px 0 8px;
    margin-left: 5px;
    margin-top: 20px;
    box-shadow: 2px 2px #27374D;
}

#hourly-div img, #weekly-div img {
    margin-bottom: 10px;
}

#hourly-forecast-div, #weekly-forecast-div {
    padding: 20px;
}

#weekly-forecast-div {
    display: inline-block;
    width: 48%;
    height: 350px;
    margin-left: 20px;
    text-align: center;
    background-color: #526D82;
    border-radius: 15px;
}

